.testimonalMainDiv{
    height: 585px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec{
    margin: 0 auto;
    width: 932px;
}


.h2{
    margin: 0;
    font-size: 65px;
    font-weight: 600;
    letter-spacing: 0.03em;
    text-align: center;
}

.p{
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.03em;
    text-align: center;
    margin-left: 0;
    }

.quotes{
font-size: 21px;
font-weight: 400;
letter-spacing: 0.03em;
text-align: left;
margin-left: 0;
}

.testimonialReviewDiv{
    height: 344px;
    background-color: rgba(248, 248, 248, 1);
    max-width: 1087px;
    display: grid;
    grid-template-columns: 250px 1fr;
    padding-left: 25px;
    color: black !important;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.listOfbutton{
    margin-top: 15px;
    display: flex;
    gap: 15px;
}

.listOfbutton button{
    width: 58px;
    height: 16px;
    border-radius: 15px;
    border: none;
}

.listOfbutton button.active {
    background-color: rgba(253, 111, 0, 1);
     
 }